<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>Projects Page</title>
<body>
  <h1>{{screamIt welomeNote}}</h1>  
 {{> header}}
 <p>I'll have apps created by me listed here!!</p>

{{> footer}}

</body>
</head>

</html>